:root {
  --color-primary: #00ff9c;
  --color-grey-light-1: #faf9f9;
  --color-grey-light: #525252; }

html {
  font-size: 62.5%;
  color: var(--color-grey-light); }

body {
  font-family: 'RobotoBlack', sans-serif; }

@font-face {
  font-family: RobotoBlack;
  src: url("..fonts/Roboto-Black.tff") format("tff"); }

.btn {
  background-color: #00ff9c;
  color: --color-grey-light-1;
  outline: none;
  border: none;
  padding: 1rem 2rem;
  border-radius: 0.7rem;
  cursor: pointer; }

.icon-content {
  background-color: #333333; }
  .icon-content__icon {
    width: 4rem;
    height: 4rem; }

.text-content {
  background-color: #faf9f9; }

.header {
  background-image: url(../img/Main_banner.jpg);
  height: 50vh;
  background-size: cover;
  background-position: center; }
  .header__media {
    font-size: 1.2rem; }
    .header__media--right {
      padding-right: 4rem; }
    .header__media--left {
      padding-left: 8rem; }
    .header__media--header h1 {
      font-size: 4rem; }
