:root {
    --color-primary: #00ff9c;
   
    --color-grey-light-1: #faf9f9;
    --color-grey-light: #525252;
}




html {
  
    font-size: 62.5%;
    color: var(--color-grey-light);
}

body {
    font-family: 'RobotoBlack', sans-serif;
    
    
}